<library path="esp32_combined_hardware">
  <class name="esp32_combined_hardware/ESP32CombinedHardware"
         type="esp32_combined_hardware::ESP32CombinedHardware"
         base_class_type="hardware_interface::SystemInterface">
    <description>
      Combined hardware interface for ESP32 controlling diff drive wheels and pan-tilt servos over serial
    </description>
  </class>
</library>
